<app-home-navbar></app-home-navbar>
<div>
  <div
    class="text-center text-justify text-white"
    style="
      background-image: url('../../../../../assets/images/home.PNG');
      height: 100vh;"
  >
    <div>
      <h1 >¿Quienes Somos?</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam varius facilisis dolor, non suscipit lectus pretium eget. Nullam lobortis dolor eu dolor fermentum viverra. Ut eu rutrum lacus. Integer lobortis nibh a porttitor lobortis. Maecenas lobortis iaculis tellus, vitae pretium orci. Nullam quis sem mauris. In hac habitasse platea dictumst. In sed porta lacus. Maecenas a aliquet lectus, non semper massa. Nunc fringilla, est eget tempus cursus, eros nisl egestas sem, id bibendum nunc nisl at diam. Ut placerat libero eget laoreet maximus. Etiam malesuada, tellus quis ultricies vestibulum, lacus purus sagittis elit, varius aliquet enim elit in quam. Suspendisse sed varius tortor. Nam libero dui, pretium lobortis metus in, faucibus dapibus lectus. Maecenas tincidunt, ipsum in iaculis condimentum, justo odio aliquam neque, sed tempus dui orci ut leo. Vivamus blandit dolor leo, eu rutrum lectus rutrum eget.
      </p>
    </div>
    <div>
      <h1 >Mision</h1>
      <p>
        Maecenas et lacus risus. Mauris mauris tellus, imperdiet eu ultricies a, fringilla et turpis. Vestibulum sed ligula lorem. Aenean at interdum nibh. Nulla quis ullamcorper elit. Aliquam ut lacinia lectus. Ut et velit leo. Curabitur tincidunt velit urna, ac auctor neque fringilla non. Duis laoreet ipsum dolor, nec lobortis turpis viverra id. Donec tempus felis nulla, ut maximus risus tristique in.
      </p>
    </div>
    <div>
      <h1 >Vision</h1>
      <p>
        Suspendisse iaculis mi feugiat ullamcorper tempus. Mauris commodo lorem libero, eget aliquam risus convallis ac. Etiam pharetra suscipit lacus, in venenatis dui consequat in. Vivamus sit amet commodo ipsum. Donec sem nisi, dapibus sed ipsum id, scelerisque consectetur velit. Curabitur mattis vel ipsum vitae ultrices. Pellentesque viverra neque sapien, et lacinia ante rutrum in. Integer in justo nibh. Aliquam gravida vel arcu et mollis. Quisque sit amet interdum magna. Maecenas at consequat nisl. Phasellus vel lorem vel neque facilisis dignissim congue vitae velit. Pellentesque sollicitudin nisi ac viverra rhoncus.
      </p>
    </div>
  </div>
</div>
