<form [formGroup]="formGroup" (ngSubmit)="saveFormGroup($event)">
  <mat-card class="form" >
    <mat-card-content class="container">
      <div class="row">
        <div class="col-12">
          <mat-form-field>
            <mat-label>Placa del Vehiculo</mat-label>
            <input matInput formControlName="vehiclePlate">
            @if (this.vehiclePlate!.invalid) {
              <mat-error>{{errorMessage1}}</mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <mat-form-field>
            <mat-label>Entrega</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="quoteDeadline">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            @if (this.quoteDeadline!.invalid) {
              <mat-error>{{errorMessage2}}</mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field>
            <mat-label>Estatus del auto:</mat-label>
            <mat-select formControlName="quoteStatusVehicle">
              <mat-option value="one">Pendiente</mat-option>
              <mat-option value="two">En proceso</mat-option>
              <mat-option value="two">Terminado</mat-option>
            </mat-select>
            @if (this.quoteStatusVehicle!.invalid) {
              <mat-error>{{errorMessage3}}</mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <mat-checkbox formControlName="quotePaymentMethod">¿Pago con tarjeta?</mat-checkbox>
        </div>
        <div class="col-4">
          <mat-checkbox formControlName="quotePaymentStatus">¿Pagado?</mat-checkbox>
        </div>
        <div class="col-4">
          <mat-checkbox formControlName="quoteRequireInvoice">¿Factura?</mat-checkbox>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field floatLabel="always">
            <mat-label>Amount</mat-label>
            <input matInput type="number" class="example-right-align" placeholder="0" formControlName="quoteAdvancePayment">
            <span matTextPrefix>$&nbsp;</span>
            <span matTextSuffix>.00</span>
            @if (this.quoteAdvancePayment!.invalid) {
              <mat-error>{{errorMessage4}}</mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <button [disabled]="formGroup.invalid" type="submit" class="btn btn-primary">Crear Cotizacion</button>
    </mat-card-content>
  </mat-card>
</form>
