.mat-mdc-form-field {
  --mdc-filled-text-field-caret-color: #000000;
  --mdc-filled-text-field-focus-active-indicator-color: #676767;
  --mdc-filled-text-field-focus-label-text-color: #000000;
}

.mat-mdc-checkbox{
  --mdc-checkbox-selected-focus-icon-color: #959ca5;
  --mdc-checkbox-selected-focus-state-layer-color: #959ca5;
  --mdc-checkbox-selected-hover-icon-color: #6d6f6e;
  --mdc-checkbox-selected-icon-color: #6f6d6d;

  --mdc-checkbox-selected-pressed-icon-color: #3c3e3f;
  --mdc-checkbox-selected-pressed-state-layer-color: #3c3e3f;
}

.mat-mdc-form-field{
  width: 98%;
  margin: 1;
}

.form{
  width: 100%;
  height: 100%;
}
