<!-- FORM FOR CREATE OR UPDATE OR DELETE A QUOTE -->
<div *ngIf="renderOption() == 7 || renderOption() == 18">
  <form [formGroup]="formGroup" (ngSubmit)="saveFormGroup($event)">
    <mat-card class="form">
      <mat-card-content class="container">
        <div class="row" *ngIf="renderOption() == 18">
          <div class="col-12">
            <mat-form-field>
              <mat-label>Cotizacion</mat-label>
              <input matInput [formControl]="quoteId">
              @if (this.vehiclePlate!.invalid) {
                <mat-error>{{errorMessage1}}</mat-error>
              }
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <mat-form-field>
              <mat-label>Placa del Vehiculo</mat-label>
              <input matInput formControlName="vehiclePlate">
              @if (this.vehiclePlate!.invalid) {
                <mat-error>{{errorMessage1}}</mat-error>
              }
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <mat-form-field>
              <mat-label>Entrega</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="quoteDeadline">
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              @if (this.quoteDeadline!.invalid) {
                <mat-error>{{errorMessage2}}</mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field>
              <mat-label>Estatus del auto:</mat-label>
              <mat-select formControlName="quoteStatusVehicle">
                <mat-option value="Pendiente">Pendiente</mat-option>
                <mat-option value="En proceso">En proceso</mat-option>
                <mat-option value="Terminado">Terminado</mat-option>
              </mat-select>
              @if (this.quoteStatusVehicle!.invalid) {
                <mat-error>{{errorMessage3}}</mat-error>
              }
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <mat-checkbox formControlName="quotePaymentMethod">¿Pago con tarjeta?</mat-checkbox>
          </div>
          <div class="col-4">
            <mat-checkbox formControlName="quotePaymentStatus">¿Pagado?</mat-checkbox>
          </div>
          <div class="col-4">
            <mat-checkbox formControlName="quoteRequireInvoice">¿Factura?</mat-checkbox>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field floatLabel="always">
              <mat-label>Adelanto:</mat-label>
              <input matInput type="number" class="example-right-align" formControlName="quoteAdvancePayment">
              <span matTextPrefix>$&nbsp;</span>
              <span matTextSuffix>.00</span>
              @if (this.quoteAdvancePayment!.invalid) {
                <mat-error>{{errorMessage4}}</mat-error>
              }
            </mat-form-field>
          </div>
        </div>
        <button *ngIf="renderOption() == 7" [disabled]="formGroup.invalid" type="submit" class="btn btn-success">Crear Cotizacion</button>
        <button *ngIf="renderOption() == 18" [disabled]="formGroup.invalid" type="button" (click)="updateQuoteById()" class="btn btn-warning">Actualizar Cotizacion</button>
        <button *ngIf="renderOption() == 18" [disabled]="formGroup.invalid" type="button" (click)="deleteQuoteAndDetailsById()" class="btn btn-danger">Eliminar Cotizacion</button>
      </mat-card-content>
    </mat-card>
  </form>
</div>

<!-- FORM FOR SEARCH A QUOTE BY ID -->
<div *ngIf="renderOption() == 8">
  <mat-card class="form">
    <mat-card-content class="container">
      <div class="row">
        <div class="col-9">
          <mat-form-field>
            <mat-label>Buscar Cotizacion Por ID</mat-label>
            <input matInput [formControl]="quoteId" type="number">
            @if(this.quoteId.invalid){
              <mat-error>{{ errorMessage5 }}</mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-3 form-elements">
          <button [disabled]="quoteId.invalid" type="button" (click)="searchQuoteById()" class="btn btn-primary">Buscar</button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<!-- FORM FOR SEARCH A QUOTES OF A VEHICLE BY PLATE -->
<div *ngIf="renderOption() == 9">
  <mat-card class="form">
    <mat-card-content class="container">
      <div class="row">
        <div class="col-9">
          <mat-form-field>
            <mat-label>Buscar Cotizaciones Por Placa</mat-label>
            <input matInput [formControl]="vehiclePlateDos">
            @if(this.vehiclePlateDos.invalid){
              <mat-error>{{ errorMessage5 }}</mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-3 form-elements">
          <button [disabled]="vehiclePlateDos.invalid" type="button" (click)="searchQuotesByPlate()" class="btn btn-primary">Buscar</button>
          <app-alert-modal [error]="alertMessage" *ngIf="alertMessage!=null" (close)="alertMessage=null"></app-alert-modal>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<!-- ALERT MESSAGE -->
<app-alert-modal [error]="alertMessage" *ngIf="alertMessage!=null" (close)="alertMessage=null"></app-alert-modal>
