<div class="accordion .accordion-flush" id="accordionExample">
  <div class="accordion-item bg-primary border-0">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button bg-primary text-white text-center" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        USUARIOS Y ROLES
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body px-0 py-0">
        <ul class="nav bg-primary flex-column">
          <li class="nav-item">
            <a class="navigate nav-link text-white" (click)="changeRenderOptionCreateUserRoles()" routerLink="/dashboard/user-and-roles">Crear Usuario & Asignar Roles</a>
          </li>
          <li class="nav-item">
            <a class="navigate nav-link text-white" (click)="changeRenderOptionSearchUserByName()" routerLink="/dashboard/user-and-roles">Consultar Usuario por Usuario</a>
          </li>
          <li class="nav-item">
            <a class="navigate nav-link text-white" (click)="changeRenderOptionSearchUserByMecId()" routerLink="/dashboard/user-and-roles">Consultar Usuario por MEC ID</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="accordion-item bg-primary border-0">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed bg-primary text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        CLIENTES
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body px-0 py-0">
        <ul class="nav bg-primary flex-column">
          <li class="nav-item">
            <a class="navigate nav-link text-white" (click)="changeRenderOptionCreateCustomer()" routerLink="/dashboard/customer">Crear Cliente</a>
          </li>
          <li class="nav-item">
            <a class="navigate nav-link text-white" (click)="changeRenderOptionSearchCustomerByName()" routerLink="/dashboard/customer">Consultar Cliente por Nombre</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="accordion-item bg-primary border-0">
    <h2 class="accordion-header" id="headingFour">
      <button class="accordion-button collapsed bg-primary text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        VEHICULOS
      </button>
    </h2>
    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <ul class="nav bg-primary flex-column">
          <li class="nav-item">
            <a class="navigate nav-link text-white" (click)="changeRenderOptionCreateVehicle()" routerLink="/dashboard/vehicle">Crear Vehiculo</a>
          </li>
          <li class="nav-item">
            <a class="navigate nav-link text-white" (click)="changeRenderOptionSearchVehicleByPlate()" routerLink="/dashboard/vehicle">Consultar Vehiculo por placa</a>
          </li>
          <li class="nav-item">
            <a class="navigate nav-link text-white" (click)="changeRenderOptionSearchVehiclesByCustomer()" routerLink="/dashboard/vehicle">Consultar Vehiculos de un Cliente</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="accordion-item bg-primary border-0">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed bg-primary text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        COTIZACIONES
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <ul class="nav bg-primary flex-column">
          <li class="nav-item">
            <a class="navigate nav-link text-white" (click)="changeRenderOptionCreateQuoteDetails()" routerLink="/dashboard/quote-and-details">Crear Cotizacion y detalles</a>
          </li>
          <li class="nav-item">
            <a class="navigate nav-link text-white" (click)="changeRenderOptionSearchQuoteById()" routerLink="/dashboard/quote-and-details">Consultar Cotizacion por ID</a>
          </li>
          <li class="nav-item">
            <a class="navigate nav-link text-white" (click)="changeRenderOptionSearchQuotesByVehicle()" routerLink="/dashboard/quote-and-details">Consultar Cotizaciones de un Auto</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
