<div class="container-fluid" style="position: absolute; margin: 0;">

  <div class="row bg-primary text-white">
    <div class="col-11">
      <h1>
        Bienvenido a Mi Taller Automotriz {{ renderOption() }}
      </h1>
    </div>
    <div class="col-1 dropdown">
      <img
        style="position: absolute; right: 0;"
        class="dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false"
        src="../../../../../assets/images/profile.png"
        alt="login-icon" width="56px" height="56px"
      />
      <ul class="dropdown-menu bg-primary">
        <li><a class="dropdown-item text-white" (click)="searchMyProfile()">Mi Perfil</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item text-white" (click)="logout()">Cerrar Sesion <img
          src="../../../../../assets/images/logout.png"
          alt="logout-icon" width="25px" height="25px"
        /></a></li>
      </ul>
    </div>
  </div>

  <div class="row" style="height: 100vh;">
    <div class="col-2 bg-primary">
      <app-dashboard-navbar></app-dashboard-navbar>
    </div>
    <div class="col-10 bg-light" style="padding-top: 20px; padding-bottom: 20px; padding-left: 20px; padding-right: 20px;">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>
