<div class="bg-primary d-flex justify-content-center align-items-center vh-100">
  <div class="bg-body-tertiary p-5 rounded-3 text-secondary" style="width: 25rem;">
    <div class="d-flex justify-content-center" style="margin-bottom: 15px;">
      <img
        src="../../../../../assets/images/user-login.png"
        alt="login-icon"
        style="height: 7rem;"
      />
    </div>
    <app-login-form></app-login-form>
    <!--<div class="input-group mt-4">
      <div class="input-group-text h-100" style=" padding: 0;">
        <img
          src="../../../../../assets/images/square-user.PNG"
          alt="username-icon"
          style="height: 2.3rem;"
        />
      </div>
      <input class="form-control" type="text" placeholder="usuario"/>
    </div>
    <div class="input-group mt-3">
      <div class="input-group-text" style=" padding: 0;">
        <img
          src="../../../../../assets/images/square-password.PNG"
          alt="password-icon"
          style="height: 2.3rem;"
        />
      </div>
      <input class="form-control" type="password" placeholder="contraseña"/>
    </div>-->
    <div class="d-flex justify-content-around mt-1">
      <div class="d-flex align-items-center gap-1 ">
        <input class="form-check-input" type="checkbox"/>
        <div class="pt-1" style="font-size: 0.9rem;">Recuerdame la contraseña</div>
      </div>
      <div class="pt-1">
        <a href="#" class="text-decoration-none text-secondary fw-semibold fst-italic" style="font-size: 0.9rem;">¿Olvidaste tu contraseña?</a>
      </div>
    </div>
    <!--<div  routerLink="/dashboard/user-and-roles" class="btn btn-dark text-white w-100 mt-4">
      Iniciar Sesion
    </div>-->
  </div>
</div>
