<div class="row">
  <div class="col-10 form-rendered-3 bg-light">
    <app-vehicle-form></app-vehicle-form>
  </div>
</div>

<!--<div class="row" *ngIf="renderOption() == 4">
  <div class="col-10 form-rendered-3 bg-light">
    <app-vehicle-form></app-vehicle-form>
  </div>
</div>
<div class="row" *ngIf="renderOption() == 5">
  <div class="col-10 form-rendered-4 bg-light">
    <app-search-form></app-search-form>
  </div>
</div>
<div class="row" *ngIf="renderOption() == 6">
  <div class="col-10 form-rendered-4 bg-light">
    <app-search-form></app-search-form>
  </div>
</div>-->
