<app-home-navbar></app-home-navbar>
<div
    class="text-center text-white"
    style="
      background-image: url('../../../../../assets/images/home.PNG');
      height: 100vh;"
  >
  <div class="container text-center">
    <div class="row align-items-center">
      <div class="col">
        <h1>Centro de Atención a Clientes</h1>
        <p>A través de nuestro Centro de Atención a Clientes podemos canalizar adecuada, eficiente y oportunamente los requerimientos que tengas sobre productos y servicios de nuestro portafolio</p>
      </div>
      <div class="col m-5">
        <img src="../../../../../assets/images/atencion_a_clientes.PNG" class="img-fluid" alt="...">
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col">
        <p>Queretaro Mexico (+52) 442-654-5476</p>
        <p>O puedes contactarnos a través del correo electrónico mitallerautomotriz&#64;gmail.com</p>
        <p>Nuestro servicio está disponible de lunes a sabado de 08:30 a 17:30 hrs  (UTC-6).</p>
        <p>Estamos ubicados en Av. Prol. Luis Pasteur 112, zona dos extendida, Vista Alegre, 76074 Santiago de Querétaro, Qro.</p>
      </div>
    </div>
  </div>
</div>
