<form [formGroup]="formGroup" (ngSubmit)="loginIn($event)">
  <mat-card class="form">
    <mat-card-content class="container">

      <div class="row">
        <div class="col-12">
          <mat-form-field>
            <mat-label>Usuario</mat-label>
            <input matInput formControlName="userName">
            @if (this.userName!.invalid) {
              <mat-error>{{errorMessage1}}</mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <mat-form-field>
            <mat-label>Contraseña</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="userPassword">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            @if (this.userPassword!.invalid) {
              <mat-error>{{errorMessage2}}</mat-error>
            }
          </mat-form-field>
          @if (this.status === 'failed' || this.status === 'succed') {
            <div style="text-align: center;">
              <span style="color: red; font-size: medium">{{errorMessage}}</span>
            </div>
          }
        </div>
      </div>
      <button [disabled]="formGroup.invalid" type="submit" class="btn btn-primary">Iniciar Sesion</button>

    </mat-card-content>
  </mat-card>

</form>
