.mat-mdc-form-field {
  --mdc-filled-text-field-caret-color: #1356dd;
  --mdc-filled-text-field-focus-active-indicator-color: #3a9ae4;
  --mdc-filled-text-field-focus-label-text-color: #1356dd;
}

.mdc-data-table__cell, .mdc-data-table__header-cell {
  padding: 0 10px 0 10px;
}

.mat-mdc-form-field{
  width: 30%;
  margin: 1;
}

.form{
  width: 100%;
  height: 100%;
}

table{
  table-layout: fixed;
  width: 700px;
  position: relative;
}

.mec {
  width: 13%;
}

.labour-repair {
  width: 51%;
}

.amount {
  width: 20%;
}

.delete {
  width: 13%;
}
