<form [formGroup]="formGroup" (ngSubmit)="saveFormGroup($event)">
  <mat-card class="form">
    <mat-card-content class="container">

      <div class="row">
        <div class="col-12">
          <mat-form-field>
            <mat-label>Crea un usuario</mat-label>
            <input matInput formControlName="userPk">
            <mat-hint align="start">Min 8, Max 15, Al menos una letra mayus, minus, un digito y no espacios en blanco.</mat-hint>
            @if (this.userPk!.invalid) {
              <mat-error>{{errorMessage1}}</mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <mat-form-field>
            <mat-label>Crea una contraseña</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="userPassword">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-hint align="start">Min 10, Max 20, Al menos una letra mayus, minus, un digito y un caracter especial, No espacios en blanco. </mat-hint>
            @if (this.userPassword!.invalid) {
              <mat-error>{{errorMessage2}}</mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <mat-form-field>
            <mat-label>Confirma tu contraseña</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="userPasswordConfirmation">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            @if (this.userPasswordConfirmation!.invalid) {
              <mat-error>{{errorMessage3}}</mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <mat-form-field>
            <mat-label>Nombre empleado</mat-label>
            <input matInput formControlName="userName">
            @if (this.userName!.invalid) {
              <mat-error>{{errorMessage5}}</mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <mat-form-field class="example-full-width">
            <mat-label>Correo</mat-label>
            <input type="email" matInput formControlName="userEmail">
            @if (this.userEmail!.invalid) {
              <mat-error>{{errorMessage4}}</mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <mat-form-field>
            <mat-label>Puesto</mat-label>
            <input matInput formControlName="userPosition">
            @if (this.userPosition!.invalid) {
              <mat-error>{{errorMessage6}}</mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <mat-checkbox formControlName="userLocked" class="check-color" class="example-margin">Bloquear</mat-checkbox>
        </div>
        <div class="col-6">
          <mat-checkbox formControlName="userDisabled" class="check-color" class="example-margin">Deshabilitar</mat-checkbox>
        </div>
      </div>
      <button [disabled]="formGroup.invalid" type="submit" class="btn btn-primary">Crear Usuario</button>
      <app-alert-modal [error]="alertMessage" *ngIf="alertMessage!=null" (close)="alertMessage=null"></app-alert-modal>
    </mat-card-content>
  </mat-card>
</form>
