
<div class="row" *ngIf="renderOption() == 7">
  <div class="col-3 form-rendered-2 bg-light">
    <app-quote-form></app-quote-form>
  </div>
  <div class="col-7 form-rendered-22 bg-light">
    <app-quote-details-form></app-quote-details-form>
  </div>
</div>
<div class="row" *ngIf="renderOption() == 8">
  <div class="col-10 form-rendered-4 bg-light">
    <app-quote-form></app-quote-form>
  </div>
</div>
<div class="row" *ngIf="renderOption() == 9">
  <div class="col-10 form-rendered-4 bg-light">
    <app-quote-form></app-quote-form>
  </div>
</div>

<!--<div class="row" *ngIf="renderOption() == 7">
  <div class="col-3 form-rendered-2 bg-light">
    <app-quote-form></app-quote-form>
  </div>
  <div class="col-7 form-rendered-22 bg-light">
    <app-quote-details-form></app-quote-details-form>
  </div>
</div>
<div class="row" *ngIf="renderOption() == 8">
  <div class="col-10 form-rendered-4 bg-light">
    <app-search-form></app-search-form>
  </div>
</div>
<div class="row" *ngIf="renderOption() == 9">
  <div class="col-10 form-rendered-4 bg-light">
    <app-search-form></app-search-form>
  </div>
</div>-->
