.form-rendered-2{
  width: 400px;
  height: 100%;
  margin-left: 0px;
}

.form-rendered-22{
  width: 800px;
  height: 100%;
  margin-right: 0px;
}

.form-rendered-4{
  width: 500px;
  height: 100%;
  background-color: blue;
}
