.mat-mdc-form-field {
  --mdc-filled-text-field-caret-color: #1356dd;
  --mdc-filled-text-field-focus-active-indicator-color: #3a9ae4;
  --mdc-filled-text-field-focus-label-text-color: #1356dd;
}

.mat-mdc-form-field{
  width: 98%;
  margin: 1;
}

.form{
  width: 100%;
  height: 100%;
}
